	<div class="footer">
		<div class="links">
			{{if ne .Site.Title .Title}}
			{{if .Prev}}
			<a title="{{.Prev.Title}}" class="back" href="{{.Prev.Permalink}}">← back</a>
			{{end}}
			<a title="{{.Site.Title}}" class="home" href="/">home</a>
			{{if .Next}}
			<a title="{{.Next.Title}}" class="forward" href="{{.Next.Permalink}}">forward →</a>
			{{end}}
			{{end}}
		</div>
		<br /><br />
		by <a href="https://github.com/philippta">philippta</a>
		| <script>document.write(atob("PGEgaHJlZj0ibWFpbHRvOnAudGFubGFrQHdlYi5kZSI+ZmVlZGJhY2s8L2E+"));</script>
		| <a href="https://github.com/gowebexamples/gowebexamples">source</a>
		| <a href="https://github.com/gowebexamples/gowebexamples#license">license</a>
		<div class="right">
			<a href="/imprint">Legal Disclosure</a>	| <a href="/privacy">Privacy Statement</a>
		</div>
	</div>
	<script type="text/javascript">
		var menu = document.querySelector(".sections");
		var menuBtn = document.querySelector(".menu-btn");
		menuBtn.addEventListener("click", function(e) {
			e.preventDefault();
			if (menu.classList.contains("closed")) {
				menu.classList.remove("closed");
				menuBtn.innerHTML = "Close<br>Menu";
			} else {
				menu.classList.add("closed");
				menuBtn.innerHTML = "Open<br>Menu";
			}
			return false;
		});
	</script>
	<script type="text/javascript" id="cookiebanner"
	src="//cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.0.0/cookiebanner.min.js"
	data-height="32px" data-position="bottom" data-bg="#f0f0f0" data-fg="black"
	data-message="We use cookies to improve your browsing experience. :-)"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103566946-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());
		gtag('config', 'UA-103566946-2', { 'anonymize_ip': true });
	</script>
