	<div class="footer">
		<div class="links">
		{{if ne .Site.Title .Title}}
			{{if .Prev}}
			<a class="back" href="{{.Prev.Permalink}}">← back</a>
			{{end}}
			<a class="home" href="/">home</a>
			{{if .Next}}
			<a class="forward" href="{{.Next.Permalink}}">forward →</a>
			{{end}}
		{{end}}
		</div>
		<br /><br />
		by <a href="https://github.com/philippta">philippta</a>
		| <script>document.write(atob("PGEgaHJlZj0ibWFpbHRvOnAudGFubGFrQHdlYi5kZSI+ZmVlZGJhY2s8L2E+"));</script>
		| <a href="https://github.com/gowebexamples/gowebexamples">source</a>
		| <a href="https://github.com/gowebexamples/gowebexamples#license">license</a>
	</div>
</div>
</body>
</html>
