<div class="sidebar">
	<div class="brand"><a href="/">Go Web Examples</a> <a class="menu-btn" href="#">Open<br>Menu</a></div>
	<div class="sections closed">
		<div class="section">
			<div class="category">The Basics</div>
			<div><a href="/hello-world/">Hello World</a></div>
			<div><a href="/routes-using-gorilla-mux/">Routing</a></div>
			<div><a href="/templates/">Templates</a></div>
			<div><a href="/forms/">Requests &amp; Forms</a></div>
			<div><a href="/static-files/">Assets &amp; Files</a></div>
			<div><a href="/basic-middleware/">Middleware (Basic)</a></div>
			<div><a href="/advanced-middleware/">Middleware (Advanced)</a></div>
			<div><a href="/sessions/">Session</a></div>
			<!-- <div><a href="/hello-world/">Validation</a></div> -->
			<div><a href="/json/">JSON</a></div>
			<div><a href="/websockets/">Websockets</a></div>
		</div>
		<div class="section">
			<div class="category">Security</div>
			<!-- <div><a href="/hello-world/">CSRF Protection</a></div> -->
			<div><a href="/password-hashing/">Password Hashing</a></div>
			<!-- <div><a href="/hello-world/">HTTPS via Let's Encrypt</a></div> -->
		</div>
		<!-- <div class="section">
			<div class="category">Database</div>
			<div><a href="/hello-world/">The database/sql package</a></div>
			<div><a href="/hello-world/">PostgreSQL</a></div>
			<div><a href="/hello-world/">MySQL</a></div>
			<div><a href="/hello-world/">Mongo</a></div>
		</div> -->
		<!-- <div class="section">
			<div class="category">Testing</div>
			<div><a href="/hello-world/">Basic testing</a></div>
			<div><a href="/hello-world/">HTTP Handlers</a></div>
		</div> -->
		<!-- <div class="section">
			<div class="category">Libraries</div>
			<div><a href="/hello-world/">Installing a new package</a></div>
		</div> -->
	</div>
	<div class="recommend">
		<strong>Go Programming Blueprints</strong>
		<div class="recommend-img">
			<img src="https://images-na.ssl-images-amazon.com/images/I/51BOfTggRIL.jpg" alt="Go Programming Blueprints - Mat Ryer" />
		</div>
		by <strong><a href="https://twitter.com/matryer">Mat Ryer</a></strong>
		<a class="buy-on-amazon" href="/we-recommend" target="_blank">
			Buy on<br />
			<img src="/amazon-logo.png" />
		</a>
	</div>
</div>
