<div class="sidebar">
	<div class="brand"><a href="/">Go Web Examples</a> <a class="menu-btn" href="#">Open<br>Menu</a></div>
	<div class="sections closed">
		<div class="section">
			<div class="category">The Basics</div>
			<div><a href="/hello-world/">Hello World</a></div>
			<div><a href="/http-server/">HTTP Server</a></div>
			<div><a href="/routes-using-gorilla-mux/">Routing (using gorilla/mux)</a></div>
			<div><a href="/templates/">Templates</a></div>
			<div><a href="/static-files/">Assets &amp; Files</a></div>
			<div><a href="/forms/">Requests &amp; Forms</a></div>
			<div><a href="/basic-middleware/">Middleware (Basic)</a></div>
			<div><a href="/advanced-middleware/">Middleware (Advanced)</a></div>
			<div><a href="/sessions/">Session</a></div>
			<!-- <div><a href="/hello-world/">Validation</a></div> -->
			<div><a href="/json/">JSON</a></div>
			<div><a href="/websockets/">Websockets</a></div>
		</div>
		<div class="section">
			<div class="category">Security</div>
			<!-- <div><a href="/hello-world/">CSRF Protection</a></div> -->
			<div><a href="/password-hashing/">Password Hashing (bcrypt)</a></div>
			<!-- <div><a href="/hello-world/">HTTPS via Let's Encrypt</a></div> -->
		</div>
		<!-- <div class="section">
			<div class="category">Database</div>
			<div><a href="/hello-world/">The database/sql package</a></div>
			<div><a href="/hello-world/">PostgreSQL</a></div>
			<div><a href="/hello-world/">MySQL</a></div>
			<div><a href="/hello-world/">Mongo</a></div>
		</div> -->
		<!-- <div class="section">
			<div class="category">Testing</div>
			<div><a href="/hello-world/">Basic testing</a></div>
			<div><a href="/hello-world/">HTTP Handlers</a></div>
		</div> -->
		<!-- <div class="section">
			<div class="category">Libraries</div>
			<div><a href="/hello-world/">Installing a new package</a></div>
		</div> -->
	</div>
	<div class="sidebar-bottom" style="padding-top: 50px">
		<a href="https://goo.gl/1nKLZE" class="no-icon" target="_blank"><img style="display: block; width: 100%;" src="/vim-gopher-shirt.jpeg" title="Vim Gopher T-Shirt"></a>
		<div style="text-align: center; font-size: 0.8em; text-decoration: underline"><a href="https://goo.gl/1nKLZE" target="_blank">Vim Gopher T-Shirt</a></div>
		<br>
		<a href="https://goo.gl/7EGZQM" class="no-icon" target="_blank"><img style="display: block; width: 100%;" src="/gotham-gopher-shirt.jpg" title="Gotham Gopher T-Shirt"></a>
		<div style="text-align: center; font-size: 0.8em; text-decoration: underline"><a href="https://goo.gl/7EGZQM" target="_blank">Batman Gopher T-Shirt</a></div>
		<br>
		<!--<a href="https://goo.gl/Kp8cou" class="no-icon" target="_blank"><img style="display: block; width: 100%;" src="/gamer-gopher-shirt.jpeg" title="Golang Gamer Gopher Shirt"></a>
		<div style="text-align: center; font-size: 0.8em; text-decoration: underline"><a href="https://goo.gl/Kp8cou" target="_blank">Golang Gamer Gopher Shirt</a></div>
		<br>-->
		<br>
		<ins class="adsbygoogle"
		style="display:block;width:160px;height:600px;margin: auto"
		data-ad-client="ca-pub-9994791825937062"
		data-ad-slot="8696634941"></ins>
	</div>
</div>
