{{partial "header.html" .}}
<p>
	<a target="_blank" href="https://golang.org/">Go</a> is a <a target="_blank" href="http://www.tiobe.com/tiobe-index/">rapidly growing</a> open source programming language designed for building simple, fast, and reliable software.
	Take a look <a target="_blank" href="https://github.com/golang/go/wiki/GoUsers">here</a> which great companies use Go to power their services.
</p>
<p>
	<i>Go Web Examples</i> provides easy to understand snippets on how to do web development in Go and is insired by <a target="_blank" href="https://gobyexample.com/"><i>Go By Example</i></a>, which has a great introduction into the fundametals of this language. Check out the {{with index .Pages 0}}<a href="{{.URL}}">first example</a>{{end}} on how to create a classical "hello world" web application.
</p>
<p>&nbsp;</p>
<p>
	{{ range .Pages }}
	<a href="{{.URL}}">{{.Title}}</a><br />
	{{ end }}
</p>
{{partial "footer.html" .}}