{{partial "header.html" .}}
<div class="container">
	{{partial "sidebar.html" .}}
	<div class="content">
		<h1><a href="/">Learn Web Programming in Go by Examples</a></h1>
		<p>
			<a target="_blank" href="https://golang.org/">Go</a> is an open source programming language designed for building simple, fast, and reliable software.
			Take a look <a target="_blank" href="https://github.com/golang/go/wiki/GoUsers">here</a> which great companies use Go to power their services.
		</p>
		<p>
			<i>Go Web Examples</i> provides easy to understand code snippets on how to do web development in the Go programming language.
			It is inspired by <a target="_blank" href="https://gobyexample.com/"><i>Go By Example</i></a>, which has a great introduction into the fundamentals of this language.
		</p>
		<p>
			If you are learning web programming in Go or just starting out you can find some good examples and tutorials here. Our goal is it to provide clean examples
			with great detail, so you can become the next Go web developer! Go Web Examples covers the basics of web programming.
			From routers and templates to middleware and websockets. Here you can find clean code snippets up to detailed tutorials.
		</p>
		<p>
			To get things started, check out the <a href="/hello-world/">first example</a> on how to create a classical "Hello World" web application or go straight to <a href="/routes-using-gorilla-mux/">Routing (using the gorilla/mux router)</a>.
		</p>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-9994791825937062"
		data-ad-slot="2297047126"
		data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<p>
			<div class="section">
				<div class="category">The Basics</div>
				<div><a href="/hello-world/">Hello World</a></div>
				<div><a href="/http-server/">HTTP Server</a></div>
				<div><a href="/routes-using-gorilla-mux/">Routing (using gorilla/mux)</a></div>
				<div><a href="/templates/">Templates</a></div>
				<div><a href="/forms/">Requests &amp; Forms</a></div>
				<div><a href="/static-files/">Assets &amp; Files</a></div>
				<div><a href="/basic-middleware/">Middleware (Basic)</a></div>
				<div><a href="/advanced-middleware/">Middleware (Advanced)</a></div>
				<div><a href="/sessions/">Session</a></div>
				<div><a href="/json/">JSON</a></div>
				<div><a href="/websockets/">Websockets</a></div>
			</div>
			<div class="section">
				<div class="category">Security</div>
				<div><a href="/password-hashing/">Password Hashing (bcrypt)</a></div>
			</div>
		</p>
		<div class="visible-xs">
			<br>
			<a href="https://goo.gl/1nKLZE" class="no-icon" target="_blank"><img style="display: block; width: 100%;" src="/vim-gopher-shirt.jpeg" title="Vim Gopher T-Shirt"></a>
			<div style="text-align: center; font-size: 0.8em; text-decoration: underline"><a href="https://goo.gl/1nKLZE" target="_blank">GET IT NOW: Vim Gopher</a></div>
			<br>
			<a href="https://goo.gl/7EGZQM" class="no-icon" target="_blank"><img style="display: block; width: 100%;" src="/gotham-gopher-shirt.jpg" title="Gotham Gopher T-Shirt"></a>
			<div style="text-align: center; font-size: 0.8em; text-decoration: underline"><a href="https://goo.gl/7EGZQM" target="_blank">GET IT NOW: Gotham Gopher</a></div>
			<br>
		</div>

		{{partial "footer.html" .}}
	</div>
</div>
</body>
</html>
