{{partial "header.html" .}}
<div class="container">
	{{partial "sidebar.html" .}}
	<div class="content">
		<h1><a href="/">Welcome to Go Web Examples</a></h1>
		<p>
			<a target="_blank" href="https://golang.org/">Go</a> is an open source programming language designed for building simple, fast, and reliable software.
			Take a look <a target="_blank" href="https://github.com/golang/go/wiki/GoUsers">here</a> which great companies use Go to power their services.
		</p>
		<p>
			<i>Go Web Examples</i> provides easy to understand code snippets on how to do web development in the Go programming language and is inspired by <a target="_blank" href="https://gobyexample.com/"><i>Go By Example</i></a>, which has a great introduction into the fundamentals of this language.
		</p>
		<p>
			To get things started, check out the <a href="/hello-world/">first example</a> on how to create a classical "Hello World" web application.
		</p>
		<p>&nbsp;</p>
		<p>
			<div class="section">
				<div class="category">The Basics</div>
				<div><a href="/hello-world/">Hello World</a></div>
				<div><a href="/routes-using-gorilla-mux/">Routing (using gorilla/mux)</a></div>
				<div><a href="/templates/">Templates</a></div>
				<div><a href="/forms/">Requests &amp; Forms</a></div>
				<div><a href="/static-files/">Assets &amp; Files</a></div>
				<div><a href="/basic-middleware/">Middleware (Basic)</a></div>
				<div><a href="/advanced-middleware/">Middleware (Advanced)</a></div>
				<div><a href="/sessions/">Session</a></div>
				<div><a href="/json/">JSON</a></div>
				<div><a href="/websockets/">Websockets</a></div>
			</div>
			<div class="section">
				<div class="category">Security</div>
				<div><a href="/password-hashing/">Password Hashing</a></div>
			</div>
		</p>
		{{partial "footer.html" .}}
	</div>
</div>
</body>
</html>
